.modal-card-head {
    justify-content: center;
    font-weight: 600;
    font-size: 1.5em;
}

.modal-card-body {
    max-height: 65vh;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    background-color: white;
    padding: 1em;
    max-height: 60vh;
}

span {
    margin: 0 .25em;
}

.button-fixer {
    margin: 1em;
}

.details-section {
    border: 1px solid grey;
    border-radius: .5em;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.details-section-add {
    background-color: whitesmoke;
}

.details-section > fieldset > input, select, textarea {
    font-size: 1em;
    width: 100%;
    border: 1px solid grey;
}

.ingredients-section {
    border: 1px solid grey;
    border-radius: .5em;
    padding: 1em 2em;
}

.ingredients-section-add {
    background-color: whitesmoke;
}

.ingredients-section > fieldset > input, select {
    font-size: 1em;
    margin: .5em 0;
    border: 1px solid grey;
}

.ingredient-input {
    border: 1px solid grey;
    border-radius: .5em;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.ingredient-fieldset {
    border: 1px solid grey;
    border-radius: .5em;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.option-custom {
    font-size: .75em;
}

.modal-card-body > fieldset {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.createCocktailButton {
    position: fixed;
    width: 3.25em;
    left: 83.5%;
    bottom: 8%;
    transform: translate(-50%, -50%);
}

.profileHeader {
    font-size: 1.5rem;
    font-family: 'Montserrat';
    text-align: center;
}

.profileSubHeader {
    font-size: 1rem;
    font-family: 'Montserrat';
    text-align: center;
    margin: 1em;
    font-weight: bold;
}


.custom-hr {
    margin: .5em 0;
    height: .3em;
    background-color: lightgrey;
}

.card {
    margin: 1em;
    padding: 1em;
}

.card-footer > button {
    margin-right: .5em;
}

.card-custom {
    display: flex;
}

.card-custom-detail {
    align-self: flex-start;
    width: 90%;
}

.card-custom-delete {
    margin-left: auto;
}

.lacking-text {
    color: red;
}

#after-dinner-background {
    background-color: #ebdeef;
}

#all-day-background {
    background-color: #e1e3f2;
}

#before-dinner-background {
    background-color: #e1f1e0;
}

#hot-drink-background {
    background-color: #f1e0e2;
}

#longdrink-background {
    background-color: #f0e9df;
}

#sparkling-background {
    background-color: #efefde;
}


