.welcome-container {
    position: fixed;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-header {
    font-family: "Montserrat";
    font-size: 3em;
}

.login-button {
    width: 100%;
    background-color: #9f72c1;
    border-color: #dbdbdb;
    border-width: 1px;
    border-radius: .5em;
    color: white;
    font-size: 1em;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
}