.modal-card-head {
    justify-content: center;
    font-weight: 700;
    font-size: 1.5em;
}

.modal-card-body-custom {
    max-height: 65vh;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    background: white;
    padding: 1em;
}

.modal-card-body > ul {
    padding: 1em 2em;
    border: 2px solid grey;
    border-radius: .5em;
    margin-bottom: 1em;
}

.modal-card-body > .lacking-ingredients {
    border: 2px solid red;
    color: red;
}
 .modal-card-body > p {
     margin-bottom: 1em;
 }

