body {
  margin: 4em 0 4em 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type=checkbox] {
  transform: scale(1.5);
}

ul {
  list-style-type: disc;
}

.callback-content {
  position: fixed;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.callback-content > p {
  font-size: 1.5em;
}

.callback-content > img {
  margin-top: 3em;
  width: 5em;
  -webkit-animation: mover .2s infinite  alternate;
  animation: mover .2s infinite  alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
